.video {
    position: relative;
    max-height: 70rem;
    overflow: hidden;

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+20,1d9b93+61,1e5799+80&0.1+2,0.5+15,0.35+81,0.6+85,0.4+99,0+100 */
        background: -moz-linear-gradient(-45deg, rgba(30, 87, 153, 0.1) 2%, rgba(30, 87, 153, 0.5) 15%, rgba(30, 87, 153, 0.49) 20%, rgba(29, 155, 147, 0.4) 61%, rgba(30, 87, 153, 0.35) 80%, rgba(30, 87, 153, 0.35) 81%, rgba(30, 87, 153, 0.6) 85%, rgba(30, 87, 153, 0.4) 99%, rgba(30, 87, 153, 0) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(30, 87, 153, 0.1) 2%, rgba(30, 87, 153, 0.5) 15%, rgba(30, 87, 153, 0.49) 20%, rgba(29, 155, 147, 0.4) 61%, rgba(30, 87, 153, 0.35) 80%, rgba(30, 87, 153, 0.35) 81%, rgba(30, 87, 153, 0.6) 85%, rgba(30, 87, 153, 0.4) 99%, rgba(30, 87, 153, 0) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(30, 87, 153, 0.1) 2%, rgba(30, 87, 153, 0.5) 15%, rgba(30, 87, 153, 0.49) 20%, rgba(29, 155, 147, 0.4) 61%, rgba(30, 87, 153, 0.35) 80%, rgba(30, 87, 153, 0.35) 81%, rgba(30, 87, 153, 0.6) 85%, rgba(30, 87, 153, 0.4) 99%, rgba(30, 87, 153, 0) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a1e5799', endColorstr='#001e5799', GradientType=1);
        /* IE6-9 fallback on horizontal gradient */

    }

    video {
        display: block;
        width: 100%;
    }
}

.contenido-video {
    display:flex;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 1;

    h2{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: $blanco;
        font-size: 7rem;
    
        span{
            background-color: $rosa;
            font-size: 2rem;
            padding: 1rem 2rem;
        }
    }
}